body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fff;
}

.svgSec {
    height: 100vh;
}

svg {
    font-size: 10em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s font-size;
    position: absolute;

    left: 0;
    top: 0;
    height: 100%;
}

svg text {
    letter-spacing: -.1em;
}

svg rect {
    fill: white;
    mask: url(#mask);
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media screen and (max-width:1200px) {
    svg {
        font-size: 4em;

    }

}